<section class="py-3">
    <h1 class="display-3">
        Thank You!
    </h1>
    <p class="lead">Your E-book should be emailed with in 1 hour</p>
    <a href="/" class="btn btn-dark btn-lg">Home</a>
</section>